---
import ItemExperience from './ItemExperience.astro';

const EXPERIENCIE = [
  {
    date: 'Actualidad ...',
    title: 'Becatrabajo | Dirección de Laboratorios | UCAB',
    description: 'Dirigí la recolección de requisitos para un sistema de gestión de inventario en los laboratorios de ingeniería y trabajé junto a un equipo de 13 técnicos para mejorar la comunicación y las operaciones. Propuse e implementé mejoras en la gestión documental usando Google Docs y Google Sheets, lo que resultó en una organización y control más eficientes de la información vital para el funcionamiento diario de los laboratorios.',
    
  },
  {
    date:'Septiembre 2024 - Enero 2025',
    title:'Tutora Matemáticas Discretas | Programa Estudiante Tutor | UCAB',
    description:' Tutor de la cátedra de Matemáticas Discretas en la Universidad Católica Andrés Bello, dentro del programa "Estudiante Tutor". Tuve la oportunidad de trabajar con más de 10 estudiantes y mi meta fue simple: hacer que esta materia no se sintiera como un dolor de cabeza. Me enfoqué en simplificar los temas difíciles y en darles a mis compañeros la confianza que necesitaban para entender y, sobre todo, disfrutar de la materia.',
  },
  {
    date:'Abril 2024 - Enero 2025',
    title:'Coordinadora de Eventos | Club de programación | UCAB',
    description:'Dirigí y coordiné los eventos del club de programación de la Universidad Católica Andrés Bello. Mi rol consistió en planificar y ejecutar actividades que no solo fomentaran el aprendizaje, sino que también crearan un espacio de comunidad entre los estudiantes.'
  },

];
---

<ol class="relative border-s border-gray-200 ml-2.5">  
  {EXPERIENCIE.map((experiencie) => (
    <li class="mb-10 ms-4">
      <ItemExperience {...experiencie} />
    </li>
  ))}
</ol>