---
import '../styles/global.css'; 
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio Devony Ramirez | Estudiante de Ing Informatica</title>
    </head>
    <body class="px-4">
        <Header/>
        <slot />
        <Footer>Aqui va el footer</Footer>
    </body>
</html>

<style is:global>
    :root {
        color-scheme: light dark;
    }
    html{
        font-family: 'Onest Variable', sans-serif;
        scroll-behavior: smooth;

    }
    body {
        background:black;
        display: flex;
        flex-direction: column; 

        align-items: center; 
		min-height: 100vh;
    }
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

</style>
